html { font-family: sans-serif;background: #eee; }
body { max-width: 960px; margin: 0 auto; 
	  padding:1rem 1rem 3rem 1rem;
	  background-color:white;
	  background-image:url("desi_logo.gif");
	  background-repeat: no-repeat;background-position: bottom left;
      background-attachment: scroll;
	  background-size: 10% 10%;}
h1 {font-family: serif; color: #37a844; margin: 1rem 0; font-size:3rem;}
h2 {font-family: serif; color: #37a844; margin: 1rem 0; font-size:2.5rem;}
a { color: #37a844; }
hr { border:none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center;padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0;}
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem;}
nav h2 { flex: auto; margin: 0;}
nav h2 a { text-decoration: none; padding: 0.25rem 0.5rem;}
nav ul { display:flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content {padding: 0 1rem 1rem;}
.content > header {border-bottom; 1px solid lightgray; display: flex; align-items: flex-end;}
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.content > header h2 { flex: auto; margin: 1rem 0 0.25rem 0; }
.content:last-child {margin-bottom: 0;}
.content form {margin:1em 0; display: flex; flex-direction: column;}
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #37a844; }
.stack_request > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.stack_request > header > div:first-of-type { flex: auto; }
.stack_request > header h1 { font-size: 1.5em; margin-bottom: 0; }
.stack_request .about { color: slategray; font-style: italic; }
.stack_request .filename { white-space: pre-line; }
input.danger {color: #cc2f2e;}
input[type=submit] {align-self: start; min-width: 10em;}
